body {
    /* background-color: yellow; */
    font-family: 'Satisfy', cursive;
    /* background-color: #0057b3; */
    background-image: url("https://www.transparenttextures.com/patterns/wave-grid.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#options {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

h1 {
    color: crimson;
    text-align: center;

}

div {
    text-align: center;
    border: 15px solid #;
}

p {
    text-align: center;
}

#startBtn {
    font-family: 'Satisfy', cursive;
    
}

#nextBtn {
    /* position: relative; */
    font-family: 'Satisfy', cursive;
}

#startOverBtn {
    font-family: 'Satisfy', cursive;
    position: relative;
}

img {
    display: flexbox;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

